header,footer{
    width: 100%;

}
header{
    background-color: #b7f8ff;
    display: flex;
    justify-content: center;
}
.brandName{
    font-size: 1.5em;
}
body{
    font-family: "Century Gothic";
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    align-items: center;
}
footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
}
.footer{
    background-color: #b7f8ff;
    text-align: center;
    padding:10px;
}
.head{
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.empty{
    flex-grow: 1;
}
section{
    width: 75vw;
    display: flex;
    flex-direction: column;
}
.podElem:not(:last-child){
    margin-bottom: 10px;
}
.podElem:last-child{
    margin-bottom: 25px;
}
.createNew{
    border: none;
    background-color: #28a745;
    width: 50px;
    height: 25px;
    margin: 5px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
}
.createNew:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
button:hover,button:active,button:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(72, 109, 109, 0.25);
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.podElem:last-child{
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}
.createForm{
    transition: 5s;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    max-height: 350px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 100;
    padding: 15px;
    /*
    glassmorphism
    */
    background: rgba(183, 248, 255, .25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hidden{
    display: none;
}
.createInput{
    margin-bottom: 10px;
    border-radius: 10px;
    outline:none;
    font-size: 1em;
    border: solid 1px #9ef3fa;
    font-family: "Century Gothic";
}
.formHeader{
    margin-bottom: 10px;
}
.createButton{
    width:100px;
    font-size: 1em;
}
button:hover{
    cursor: pointer;
}
.elem:hover{
    box-shadow: 0 0 0 0.2rem rgba(72, 109, 109, 0.25);
}
.actionBtn{
    height: 25px;
    border: none ;
    border-radius: 5px;
    margin-right: 10px;
}
.errors{
    color:#c82333 ;
}
.area-invalid{
    border-color:#c82333 ;
}
.check{
    text-decoration: line-through;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
